[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CINNA"]
	path = CINNA
	url = https://github.com/cran/CINNA
[submodule "IMMAN"]
	path = IMMAN
	url = https://git.bioconductor.org/packages/IMMAN
